<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bs/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/masuk.css') }}" rel="stylesheet">
    <title>Login | Dhika Frame</title>
</head>

<body>

    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

            <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/1.png') }}" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Masuk</p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join Masuk ke Panel Admin Dhika
                    Frame</small>
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Halo, Selamat Datang Kembali</h2>
                        <p>Senang melihat Anda kembali untuk mengelola Dhika Frame.</p>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('login') }}">
                        <div class="input-group mb-3">
                            <input class="form-control form-control-lg bg-light fs-6" name="username" type="text"
                                placeholder="Username">
                        </div>
                        <div class="input-group mb-4">
                            <input class="form-control form-control-lg bg-light fs-6" name="password" type="password"
                                placeholder="Password">
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6">Masuk</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='bs/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>